.about-section {
    justify-content: center;
    align-items: center;
    padding: 5% 5% 0 5%;
    overflow: hidden;
}
.about-section img {
    max-height: 900px;
}
.openQuote {
    font-size: 70px;
    transform: rotate(180deg);
    padding-right: 20px;
}
.endQuote {
    font-size: 70px;
    align-self: flex-end;
    padding-left: 20px;
}
.introHead {
    font-family: "Raleway";
    font-size: 20rem;
    margin: 0;
}
.about-section p {
    text-align: justify;
}
.about-section-left {
    align-items: center;
    flex: 1;
}
.about-section-right {
    align-items: center;
    flex: 1;
}
.wide {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}
.aboutform {
    width: 40%;
}

@media screen and (max-width: 1500px){
   .about-section img {
        max-height: 600px;
    }
    .introHead{
        font-size: 12rem;
    }

} 

@media screen and (max-width: 1080px) {
    .about-section {
        flex-direction: column;
    }
    .about-section:nth-of-type(odd) .about-section-right {
        order: 1;
    }
    .about-section img {
        max-height: 300px;
    }
    .about-section-right div {
        flex-direction: column;
    }
    .about-section p {
        text-align: center;
    }
    .introHead {
        font-size: 7rem;
        text-align: center;
    }
    .mission p {
        text-align: center;
        width: 80%;
    }
    .aboutform {
        width: 90%;
    }
    .endQuote {
        padding: 0 0 20px 0;
    }
}