.step3contactform {
  align-items: center;
  justify-content: center;
}
.step3contactform h1,
.step3contactform h2 {
  font-family: "dosis", sans-serif;
  text-transform: uppercase;
}
.step3contactform h3 {
  height: 10px;
}
.contactHead {
  margin-top: 20px;
}
.contactBody {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.contactBody .contactForm {
  flex: 0.7;
}
.contactImage {
  flex: 1;
}
.contactImage img {
  width: 500px;
}
.contactForm {
  justify-content: space-around;
  padding: 20px;
}
.contactField {
  flex: 1;
  padding: 10px 0;
}
.contactField label {
  font-size: 1.3em;
  padding: 10px;
}
.contactField input[type="text"],
.contactField input[type="email"],
.contactField input[type="tel"] {
  border: 1px solid var(--color2);
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 1em;
  width: 100%;
}
.contactField input[type="text"]:focus,
.contactField input[type="email"]:focus,
.contactField input[type="tel"]:focus {
  outline: none;
  border: 1px solid var(--color3);
}
.raterange {
  align-items: center;
  justify-content: space-around;
}
.rate {
  width: 100%;
  margin-right: 20px;
}
