.toolkit-container{
   display: flex;
   flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 0 5%;
    font-family: 'Rubik' sans-serif;
}

.stepper{
    width: 100%;
    font-family: 'Dosis';
    font-size: 18px;
}

.stepper_step{
    font-family: 'dosis';
    font-weight: bold;
}


.step-container{
    width: 70%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-class{
    display: flex;
    justify-content: flex-end;
}

.button{
    padding: 10px;
    background-color: var(--color3);
    border: 0cm;
    border-radius: 5px;
    width: 100px;
    Height: 50px;
    margin: 10px;
    font-family: 'Rubik',sans-serif;
    font-size: medium;
    transition: .3s linear ;
    margin-bottom: 50px;
}

.button:hover{
    background-color: var(--color2);
    color: var(--color1);
    transition: .3s linear ;
}



