html, body {
    height: 2000px;
    margin: 0;
    background-color: var(--color2);
  }
h1{
    margin: 0;
}
.intro{
    top: 0; right: 0; bottom: 0; left: 0;
    height: 90vh;
    background-color: var(--color1);
    display: flex;;
    align-items: center;
    justify-content:flex-start;
}
.panel {
    margin-left: 5%;
    height: 800px;

}
.typewriter {
        font-family: 'Raleway', sans-serif;
        font-weight:100px;
        font-size:40px;
        margin:30% 50px 0 2%;
        text-align: left;;
        display:flex;
        align-items:left;
        min-height:100vh;
        line-height: 70px;
        z-index: 0;
}
.infobox{
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: var(--color2);
    background-color: var(--color2);
    

}
.infoleft{
    width: 40%;
    height: 400px;
    background-color: var(--color1);
    border-radius: 0 20px 20px 0;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.infoleft h1{
    font-family: 'Rubik', sans-serif;
    color: var(--color3);
    text-transform: capitalize;
}
.infoleft p{
    line-height: 30px;
    text-align: justify;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}
.infobtn{
    background-color: var(--color1) !important;
    border: 1px var(--color3) solid;
    border-radius: 100px;
    padding: 10px 15px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    align-self: flex-end;
}
.infobtn:hover{
    background-color: var(--color3)!important;
    color: var(--color2);
    border: 0;
}
.infolink{
    align-self: flex-end;
}