.home-container{
    overflow-x: hidden;
    scroll-padding: 0;
}

.intro-wrapper{
    height: 100vh;
    align-items: center;
}

.intro{
    width: 100%;
    height: 88vh;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.typewriter {
        font-family: 'Chakra Petch', sans-serif;
        font-size: 60px;
        text-align: left;;
        align-items:left;
        height: 200px;
        line-height: 70px;
        z-index: 0;
}
.type-slogan{
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--color2);
    width: 55%;
}

.infobox {
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 100%;    
}

.infoleft{
    background-color: rgb(0, 0, 0);
    color: var(--color1);
    border-radius: 50px;
    width: 40%;
    padding: 50px;
}
.infobox h1{
    font-family: 'Tilt warp', cursive;
    font-size: 50px;
    text-transform: capitalize;
}
.infobox p{
    /* line-height: 40px; */
    text-align: justify;
}
.infolink{
    align-self: flex-end;
}

.inforight{
    width: 40%;
    padding: 50px;
    align-items: flex-end;
}
