
.home-container section{
    scroll-snap-align: start;
    height: 100vh;
    position: relative;
  }

.intro-wrapper{
    height: 100vh;
    align-items: center;
}

.intro{
    width: 60%;
    margin-left: 10%;
    align-items: flex-start;
    position: absolute;
}

.intro h1{
    font-family: 'Chakra Petch', sans-serif;
    color: var(--color1);
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 700;
}
.intro h2{
    font-family: 'Chakra Petch';
    color: var(--color1);
    font-size: 2rem;
    line-height: 1.5rem;
}

.infobox {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.infoleft{
    background-color: rgb(0, 0, 0);
    color: var(--color1);
    border-radius: 50px;
    width: 40%;
    padding: 20px;
}
.infoleft p {
    padding: 0 20px;
}

.infoleft button{
    margin: 20px;
}
.infobox h1{
    padding: 0 20px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 50px;
    text-transform: capitalize;
}
.infobox p{
    text-align: justify;
}
.infolink{
    align-self: flex-end;
}

.inforight{
    width: 40%;
    padding: 20px;
    align-items: flex-end;
}
@media screen and (max-width:1080px) {
    .home-container section{
        height: fit-content;
        width: 100%;
    }
    .intro{
        width: 80%;
        
    }
    .intro h1{
        font-size: 2.5rem;
        line-height: 2.8rem;
        text-align: center;
    }

    .intro h2{
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }
    .infobox{
        flex-direction: column;
        text-align: center;
    }
    
    .infoleft, .inforight {
        width: auto;
        overflow-x: hidden;
        border-radius: 0;
        align-items: center !important;
    }
    .infoleft{
        order: 2;
    }
    .infoleft p, .inforight p {
        text-align: center;
    }
    .infobox img {
        max-width: 80%;
        object-fit:contain
    }
    .infolink{
        align-self: center;
    }
}