html, body {
    margin: 0;
}
h1{
    margin: 0;
}
.intro{
    top: 0; right: 0; bottom: 0; left: 0;
    height: 86vh;
    background-color: var(--color1);
    display: flex;;
    align-items: center;
    justify-content:flex-end;
    background-image: url('../../Assets/panel.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.panel {
    margin-left: 5%;
    height: 800px;

}
.typewriter {
        font-family: 'Space Grotesk', sans-serif;
        font-weight:100px;
        font-size:45px;
        margin:0 50px 0 2%;
        text-align: left;;
        display:flex;
        align-items:left;
        height: 200px;
        line-height: 70px;
        z-index: 0;
}
.type-slogan{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--color2);
    width: 55%;
}

.infobox{
    display: flex;
    justify-content:center;
    align-self: center;
    padding: 80px 0;
    color: var(--color2);
    background-image: url('../../Assets/panels.png');
    background-repeat: repeat;
    background-size: cover;;    

}
.infoleft{
    width: 40%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.716);;
    fill-opacity: 10%;
    padding: 50px;
    display: flex;
    align-self: center;
    flex-direction: column;
}
.infoleft h1{
    font-family: 'Space Grotesk', sans-serif;
    color: var(--color3);
    text-transform: capitalize;
}
.infoleft p{
    line-height: 40px;
    text-align: justify;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
}
.infoleft strong{
    font-weight: 400;
    font-size: 25px;
}
.infolink{
    align-self: flex-end;
}
.toolkit {
    display: flex;
    justify-content: space-between;
    height: 60vh;
    background-image: url('../../Assets/grids.jpg');
    background-repeat: repeat;
    padding: 20px 0 0 20px ;
    
}
.toolkitright{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    width: 40%;
    border-radius: 0 20px 20px 0;
    padding: 30px;
    margin-right: 50px;
}
.toolkit h1{
    font-family: 'Space Grotesk', sans-serif;
    color: var(--color3);
    text-transform: capitalize;
}
.toolkit p{
    line-height: 30px;
    text-align: justify;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
}
.btn{
    background-color: var(--color1) !important;
    border: 0px var(--color3) solid;
    border-radius: 100px;
    padding: 10px 15px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    box-shadow: 5px 5px 5px #888888;
    width: 200px;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-top: 30px;
}
.btn:hover{
    background-color: var(--color3)!important;
    color: var(--color1);
    transition: .5s;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.1) ;
    transform-origin: top;
}
.toolkitlink{
    align-self: flex-start;
}
.infobtns{
    display: flex;
    justify-content: space-around;
}
.infobtn{
    width: auto;
}