
.info{
    font-family: 'Rubik',sans-serif;
    line-height: 25px;
    padding: 0 10%;
    padding-bottom: 40px;
}
.info h1{
   text-transform: capitalize; 
}
.info p{
    text-align: justify;
    
}
.head{
    padding: 20px 0;
}

.info-container{
    border-top: 1px solid var(--color2);
}
.info-container h2{
    font-size: 15px;
    color: black;
    text-transform: capitalize;
    margin: 0;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}
.acc-wrapper{
    margin-top: 10px;
    padding: 0 15% 20px 15%;
}
.FAQ{
    font-size: 25px;
    padding: 10px 10px;
}

.container{
    overflow: auto !important;
}