.collapsible-head{
    color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-top: 1px solid #eee;
    padding: 5px 0;
    font-size: 14px;

}

.collapsible-body .content-parent{
    height: 0;
    overflow: hidden;
    transition: ease-in-out 0.5s;
}

.content-parent .scroll{
    overflow: scroll;
}
.content-parent .auto{
    overflow: auto;
}

.rotate{
    transform: rotate(90deg);
    transition: .5s cubic-bezier(0,1,0,1);
}

.rotateafter{
    transition: .5s cubic-bezier(0.23, 1, 0.320, 1);  
}