.resultCardContainer {
    margin: 5px;
    background-color: #F7F7F7;
    border-radius: 10px;
    cursor: pointer; 
}
.resultCardContainer h2 {
    margin: 0;
}
.resultCardHead {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.arrowDown {
    transform: rotate(90deg);
    transition: all 0.5s ease;
}
.arrowRight {
    transition: all 0.5s ease;
}
.resultCardBody {
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s ease;
    max-height: 0;
    overflow: hidden;
    
}
.bodyOpen {
    max-height: 600px;
    border-top: 1px solid var(--color5);
}
.resultCardImage {
    align-items: center;
    margin: 20px;
}
.resultCardImage img {
    padding: 20px;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}
.resultCardText {
    width: min-content;
}
.resultCardValue {
    margin-right: 20px;
    flex: 1 0 40%;
    align-items: center;
    width: fit-content;

}
.resultCardValue select {
    outline: none;
    padding-right: 5px;
    margin-right: 5px;
    background-color: #F7F7F7;
    border: 0px solid var(--color5);
    border-radius: 10px;
    width: fit-content;
    font: 16px "Rubik", sans-serif;
  }
.resultCardValue p {
    min-width: 100px;
    text-align: start;
}
.resultCardProperty {
    color: #999;
    margin-right: 10px;
}