.step4equipment {
    justify-content: center;
}
.step4container {
    text-align: center;
    align-items: center;
}
.step4container h1{
    font-family: "dosis", sans-serif;
}
.summary {
    justify-content: center;
    align-items: center;
    width: 100%;
}
.summaryContainer {
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
    width: 100%;
}
.computedResults {
    justify-content: center;
    align-items: center;
}
.resultCardsContainer {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
}
@media screen and (max-width: 1080px) {
    .step4container {
        width: 90%;
    }
    .summaryDetail h4 {
        font-size: 3.5rem !important;
    }
    .summaryTitle h3 {
        font-size: 1rem !important;
    }
}

    