.step4equipment {
    justify-content: center;
}
.step4container {
    text-align: center;
    align-items: center;
}
.step4container > div {
    width: 100%;
}
.step4container h1{
    font-family: "dosis", sans-serif;
}
.summary {
    justify-content: center;
    align-items: center;
    width: 100%;
}
.summaryContainer {
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
    width: 100%;
}
.computedResults {
    justify-content: center;
    align-items: center;
}
.resultCardsContainer {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
}
.final {
    flex-grow: 1;
}
.finalDetails {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color1);
    background-color: var(--color2);
    border-radius: 10px;
    padding: 20px;
    text-align: right;
}
.finalDetails table {
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
}
.finalDetails td {
    padding: 20px;
    text-align: left;
}
.finalDetailsEmail{
    word-break: break-all;
}
.finalDetails td:first-of-type {
    text-align: right;
    color: #999;
}

@media screen and (max-width: 1080px) {
    .step4container {
        width: 90%;
    }
    .summaryDetail h4 {
        font-size: 3.5rem !important;
    }
    .summaryTitle h3 {
        font-size: 1rem !important;
    }
    .finalDetails {
        justify-content: center;
    }
    .finalDetails table {
        display: table;
    }

}

    