.step4equipment {
    justify-content: center;
}
.step4container {
    padding: 20px;
    text-align: center;
    align-items: center;
    width: 100%;
}
.step4container h2 {
    font-family: "dosis", sans-serif;
}
.summary {
    justify-content: center;
    align-items: center;
}
.summaryBox {
    border: 1px solid var(--color5);
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition: 0.1s linear;
    width: 7em;
    min-height: 12em;
}
.summaryContainer {
    flex-wrap: wrap;
}
.computedResults {
    width: 100%;
}