.nav-container{
    justify-content: center;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 2;
    width: 100%;
}

.navmenu {
    display: none;
    margin-right: 3%;
}
.navmenu button{
    background-color: transparent;
    color: var(--color2);
    margin-top: 20px;
    outline: none;
    border: none;
}

.dropdown{
    background-color: white;
    border: 1px solid var(--color5);
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    position: absolute;
    right: 3%;
    margin: 0;
    width: fit-content;
}
.dropdown li{
    margin: 0 !important;
    line-height: 2em;
    font-size: 0.9em;
}
.dropdown ul {
    align-items: flex-end !important;
    padding: 0;
}
.navbar{
    background-color: var(--color1);
    width: 100%;
    color: var(--color2);
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    transform: uppercase;
    justify-content: space-between;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.navbar li{
    margin-right: 50px;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar li:hover{
    cursor:default;
}
.navLink {
    text-decoration: none;
    color: var(--color2);
    text-transform: uppercase;
}
.navLink:hover {
    color: var(--color3);
    cursor: pointer;
}
.navLink.active{
    color: var(--color3);
}

.navbar img {
    margin: 10px 0 10px 80px;
    transition: .3s cubic-bezier(1,1,1,1);
}
.navbar img:hover{
    transition: .3s cubic-bezier(1,1,1,1);
    transform: scale(1.05);
    transform-origin: center;
}
@media screen and (max-width:1080px) {
    .nav-container{
        position: relative;
    }
    .navbar .navlinks {
        display: none !important;
    }
    .navmenu {
        display: block !important;
    }
    .navbar img {
        height: 60px;
        object-fit: contain;
        margin-left: 3% !important;
    }
}
.active {
    color: var(--color3);
}