.card-container{
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 1px 1px 10px black;
    align-items: center;
    border-radius: 0.5em;
    width: 15em;
    justify-content: space-between;
    margin: 1em;
    flex-grow: 1;
    
}

.card-container h1{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}

.card-container p{
    padding:15px 15px;
    text-align:center;
    
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;;
    margin: 1em 0;

}

.image-container img{
    height: 10em;
}

.supplier{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

