body{
    margin: 0;
}
.parent{
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 2;
    
}
.navbar{
    background-color: var(--color1);
    width: 100%;
    color: var(--color2);
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    transform: uppercase;
    display: flex;
    justify-content: space-between;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.navbar li{
    margin-right: 50px;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar li:hover{
    cursor:default;
}
.navLink {
    text-decoration: none;
    color: var(--color2);
    font-size: 20px;
    text-transform: uppercase;
}
.navLink:hover {
    color: var(--color3);
    cursor: pointer;
}

.navbar img {
    margin: 10px 0 10px 80px;
    transition: .3s cubic-bezier(1,1,1,1);
}
.navbar img:hover{
    transition: .3s cubic-bezier(1,1,1,1);
    transform: scale(1.05);
    transform-origin: center;
}