.qnform {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.qnContainer {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  padding: 20px;
  width: 70%;
}
.qnContainer h2 {
  text-align: center;
}
.qnContainer h1 {
  text-align: center;
}
.qnContainer .section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.left {
  width: 100%;
}
.right {
  width: 100%;
}
.qnContainer input {
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid var(--color5);
  width: 10%;
}
.qnContainer input:focus {
  outline: none;
  border: 1px solid var(--color3) !important;
}

.qnContainer select {
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid var(--color5);
  width: fit-content;
}
.qnContainer select:focus {
  outline: none;
  border: 1px solid var(--color3) !important;
}
.units {
  font-size: 0.9em;
  margin: 0;
  padding-top: 5px;
  padding-left: 7px;
}

.qnContainer .line {
  border-top: 2px solid var(--color2);
  padding-top: 40px;
}
.submitbtn {
  padding: 10px;
  background-color: var(--color2);
  color: var(--color1);
  border: 0cm;
  border-radius: 5px;
  width: 200 px;
  height: 50px;
  margin: 10px;
  font-family: "Rubik", sans-serif;
  font-size: medium;
  transition: 0.3s linear;
  margin-bottom: 50px;
}
.submitbtn:hover {
  background-color: var(--color3);
  color: var(--color1);
  transition: 0.3s linear;
}
.qninfo {
  padding: 0 !important;
}
