.qnContainer {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  padding: 20px;
}
.qnform {
  display: flex;
  flex-direction: column;
}

.qnContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}
.qnrow {
  margin: 10px 20px;
  padding: 20px;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
}
.qnrow label {
  font-size: 2em;
  padding: 20px;
}
.qnrow input {
  width: 60%;
  margin: 20px;
}
.qnleft {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.qnleft p {
  padding: 20px;
  margin: 0;
}

.qnright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sky {
  padding-right: 20px;
  display: flex;
  align-items: center;
}
.sun {
  width: 125px;
  margin: 0 10px;
  filter: drop-shadow(0 0 20px #fdc20f);
}
.rightclouds {
  width: 200px;
  opacity: 90%;
}
.leftclouds {
  width: 200px;
  opacity: 90%;
}
.cost {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock {
  width: 150px;
  z-index: 1;
}
.rightcoins {
  width: 150px;
  opacity: 10%;
  transform: translateX(-50px);
  z-index: 0;
}
.leftcoins {
  width: 150px;
  opacity: 10%;
  transform: translateX(50px);
  z-index: 0;
}

.slidecontainer {
  display: flex;
  align-items: center;
}
.slider {
  appearance: none;
  height: 10px;
  border-radius: 5px;
  background: var(--color1);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: row;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color3);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
