.container{
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
}
.table{
    border-collapse: collapse;
    margin: 0;
    min-width: 400px;
}
.table thead tr{
    margin:0 10px;
    text-align: left;
    background-color: var(--color3);
    padding: 0 20px;
}

.table th, table td{
    padding: 10px 15px;
    min-width: 90px;
}

.add-button{
    padding: 10px;
    background-color: var(--color2);
    color: var(--color1);
    border: 0cm;
    border-radius: 5px;
    width: 200 px;
    Height: 50px;
    margin: 10px;
    font-family: 'Rubik',sans-serif;
    font-size: medium;
    transition: .3s linear ;
    margin-bottom: 50px;
}

.add-button:hover{
    background-color: var(--color3);
    color: var(--color1);
    transition: .3s linear ;
}

.input-box1{
    height: 20px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    font-size: 1em;
}

.input-box2{
    height: 20px;
    width: 50px;
    border-radius: 10px;
    border: 0.5px solid;
    padding: 10px;
    font-size: 18px;
    text-align: left;;
}

.input-box3{
    height: 20px;
    width: 50px;
    border: 0px;
    padding: 10px;
    font-size: 18px;
    text-align: center;;
}

.table-row{
    margin: 30px;
}

.table-column{
    align-items: center;
    justify-content: center;
}

.sum{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.sum h1{
    font-size: 20px;
    color: var(--color3);
}
