.step4container {
    padding: 20px;
    text-align: center;
    align-items: flex-start;
    font-family: "dosis", sans-serif;
}
.summary {
    justify-content: center;
    align-items: center;
    width: 100%;
}
.summaryBox {
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}
.summaryTitle {
    font-family: "dosis", sans-serif;
    width: 50%;
}
.summaryValue {
    font-family: 'Rubik', sans-serif;
    width: 50%;
}
