.teamcard-container{
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    width: 20%;
    background-color: var(--color4);
    box-shadow: 1px 1px 25px grey;
    transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.teamcard-container:hover{
    transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    scale: 1.1;
}

.teamimage-container{
    display: flex;
    align-items: center;
    justify-content: center;;
    width: 100%;
}

.teamimage-container img{
    width: 100%;
}

.teamcard-title{
    padding:20px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
}

.teamcard-name{
    padding: 5px 15px 0 15px;
    text-align:center;
    font-size: 25px;
    font-weight: 400;
    
}

.occupation{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

