
footer{
    color: var(--color1);
    width: 100%;
}
footer h2{
    color: var(--color1);
    margin-top: 0px;
}
.topfooter{
    background-color: var(--color2);    
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 70px 0;
}
.about{
    width: 20%;
}
.about p{
    text-align: left;
    line-height: 30px;
}
footer ul{
    list-style: none;
    line-height: 40px;
    padding: 0px;
}
.menu li{
    border-bottom: 1px solid #666666;
}
.footerlink{
    list-style: none;
    text-decoration: none;
    color: var(--color1);
}
.footerlink:hover{
    color: var(--color3);
    transition: 0.3s linear;
}

.logo img{
    height: 200px;
}
.bottomfooter{
    background-color: #444444;
    color: var(--color1);
    justify-content: space-around;
    align-items: center;
}
.bottomfooter p{
    margin: 8px;
    font-size: 15px;
}
.about button{
    border: 1px solid var(--color1);
}
.about button:hover{
    border: 1px solid var(--color2);
}
.contact{
    width: 10%;
    text-align: center;
}
.contact ul{
    display: flex;
    justify-content: space-evenly;
}
.contact a{
    color: var(--color1);
}
.contact li a:hover{
    color: var(--color3);
    transition: .3s;

}
.contact h2{
    text-transform: uppercase;
}
.contact p{
    text-align: center;
    line-height: 30px;
}
@media screen and (max-width:1080px) {
    footer {
        margin-top: 20px;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about p {
        text-align: center;
    }
    .topfooter {
        flex-direction: column !important;
        align-items: center;
    }
    .topfooter div {
        width: 80%;
        padding: 20px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .menu ul {
        width: 40%;   
    }
    .logo {
        display: flex;
        justify-content: center;
    }
}