.qnContainer {
  padding: 20px;
}
.qnContainer h1 {
  font-family: "dosis", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.qnrow {
  height: 250px;
  width: 100%;
  justify-content: space-between;
  border-radius: 20px;
  margin: 40px 0;
}
.qnrow label {
  font-size: 2em;
  padding: 20px;
  color: var(--color3);
}
.qnrow input[type="range"] {
  width: 60%;
  margin: 20px;
}
.qnrow select,
.qnrow input[type="number"],
.qnrow input[type="text"] {
  outline: none;
  padding: 10px 30px 10px 10px;
  margin: 20px;
  border: 1px solid var(--color5);
  border-radius: 10px;
  width: fit-content;
}
.qnrow input[type="number"] {
  width: 10%;
}
.qnleft {
  width: 100%;
  justify-content: center;
}
.qnleft p {
  padding: 20px;
  margin: 0;
}
.qnright {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.qnleftContainer {
  padding-right: 20px;
  align-items: center;
  width: 100%;
}
.qnrightContainer {
  padding-right: 20px;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.sun {
  width: 125px;
  margin: 0 10px;
  filter: drop-shadow(0 0 20px #fdc20f);
}
.rightclouds {
  width: 200px;
  opacity: 90%;
}
.leftclouds {
  width: 200px;
  opacity: 90%;
}
.clock {
  width: 160px;
  z-index: 1;
}
.rightcoins {
  width: 150px;
  opacity: 10%;
  transform: translateX(-50px);
  z-index: 0;
}
.leftcoins {
  width: 150px;
  opacity: 10%;
  transform: translateX(50px);
  z-index: 0;
}
.optionImage {
  max-width: 350px;
  max-height: 300px;
}
.slidecontainer {
  align-items: center;
}
.slider {
  appearance: none;
  height: 10px;
  border-radius: 5px;
  background: var(--color5);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color2);
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  background: var(--color3);
  transition: 0.5s ease-in-out;
}
