.qnContainer {
    padding: 20px 0;
}
.qnContainer h1 {
    font-family: "dosis", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.qnrow {
    height: fit-content;
    width: fit-content;
    justify-content: space-between;
    margin: 40px 0;
    width: 100%;
}
.qnrow label {
    font-family: "Chakra Petch";
    font-size: 2em;
    padding: 20px;
    font-weight: 900 !important;
}
.qnrow input:nth-of-type(odd) {
    color: var(--color2);
}
.qnrow input[type="range"] {
    width: 60%;
    margin: 0 20px 0 0;
}
.qnrow select,
.qnrow input[type="number"],
.qnrow input[type="text"] {
    outline: none;
    padding: 10px 30px 10px 10px;
    margin: 20px;
    border: 1px solid var(--color5);
    border-radius: 10px;
    width: fit-content;
}
.qnrow input[type="number"] {
    width: 10%;
}
.qnrow input[type="number"]::after {
    size: 20px;
}
.qnleft {
    width: 100%;
    justify-content: center;
}
.qnleft p {
    padding: 20px;
    margin: 0;
}
.qnright {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.qnleftContainer {
    padding-right: 20px;
    align-items: center;
    width: 100%;
}
.qnrightContainer {
    padding-right: 20px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.sun {
    width: 125px;
    margin: 0 10px;
    filter: drop-shadow(0 0 20px #fdc20f);
}
.rightclouds {
    width: 200px;
    opacity: 90%;
}
.leftclouds {
    width: 200px;
    opacity: 90%;
}
.clock {
    width: 160px;
    z-index: 1;
}
.rightcoins {
    width: 150px;
    opacity: 10%;
    transform: translateX(-50px);
    z-index: 0;
}
.leftcoins {
    width: 150px;
    opacity: 10%;
    transform: translateX(50px);
    z-index: 0;
}
.optionImage {
    max-width: 350px;
    max-height: 300px;
}
.slidecontainer {
    align-items: center;
    width: 100%;
}
.slider {
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: var(--color5);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color2);
    cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
    background: var(--color3);
    transition: 0.5s ease-in-out;
}
@media screen and (max-width: 1080px) {
    .qnContainer {
        scroll-snap-type: y proximity;
    }
    .qnrow {
        scroll-snap-align: center;
    }
    .qnrow {
      flex-direction: column;
      width: 100%;
      margin: 0;
      align-items: center;
      justify-content: center;
    }
    .qnrow div{
        margin: 10px 0;
    }
    .qnleft {
      width: 100%;
      padding: 0;
      align-items: center;
      text-align: center;
    }
    .qnleft p, .qnright p {
        margin: 0 5%;
    }
    .qnright {
        width: 100%;
        align-items: center;
        text-align: center;
        order: 1;
    }
    .qnrightContainer {
      justify-content: center;
      padding: 20px 0 40px 0;
      height: fit-content;
      overflow: hidden;
    }
    .qnleftContainer {
        padding: 20px 0 40px 0;
        justify-content: center;
    }
    .rightcoins {
        display: none;
    }
    .leftcoins {
        transform: translateX(100px);
    }
    .clock {
        transform: translateX(-60px);
    }

    .qnrow:nth-of-type(even) {
      background-color: var(--color2);
      color: var(--color1);
    }
    .qnrow input[type="range"] {
      width: 70%;
      margin: 0 10px 0 0;
    }
    .optionImage {
        max-width: 80%;
        max-height: 80%;
    }
    .qnContainer {
        width: 100%;
    }
    .slidecontainer {
        flex-direction: column;
    }
    .sliderdark {
        opacity: 1;
        background-color: var(--color1);
    }
    .sliderdark::-webkit-slider-thumb {
        background-color: var(--color3);
        height: 25px !important;
        width: 25px !important;
    }


    

}
